# Excluir archivos y carpetas específicos
data/
.env
__pycache__/
.DS_Store
.pytest_cache/
.python-version
*.egg-info/
venv/
env/
build/
~/

.local/
.cache/
.next
.vscode/
test.py
cache.txt
.ruff_cache/
*_secrets.json
lottobueno_backup.dump

# Next.js specific
frontend/.next/
frontend/.next/**/*
frontend/.next/cache/
frontend/.next/**/*.pack
**/frontend/.next/cache/
**/frontend/.next/**/*.pack

data/re20240416_pp.txt
data/geo20240416_pp.txt
data/cva20240416.txt
